src/__pycache__/
src/utils/__pycache__/
.env
terraform/terraform.tfvars
package
swot-env
venv
lambda.zip
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.94.1/windows_amd64/
build.py
terraform/terraform.tfstate
